* {
  margin: 0;
  padding: 0;
}
.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.715)
    url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
    no-repeat;
  z-index: 1;
}
body {
  font-family: sans-serif;
  background-image: url("assets/istockphoto-182355595-612x612.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
}

.info-sect {
  height: 100%;
  width: 60%;
}

.side-sect {
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgba(24, 24, 24, 0.715) 60%,
    rgba(50, 50, 50, 0.715)
  );
  /* background-color: rgba(41, 41, 41, 0.715); */
  width: 40%;
  display: block;
}
.search-div {
  margin-left: 5vw;
  position: relative;
}
.search-box {
  display: flex;
  justify-content: space-between;
}
.deco-div {
  height: 100px;
  width: 100px;
  background-color: #aacde1;
}
.style-icon {
  padding: 40px;
}
.search-bar {
  margin-top: 80px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  width: 70%;
  font-size: 20px;
  color: white;
}
.search-bar::placeholder {
  font-size: 20px;
  color: rgba(232, 232, 232, 0.868);
}
.search-bar:focus {
  outline: none;
}
.search-bar.suggestion {
  margin-top: 50px;
  /* position: relative; */
}
#casMicLayer {
  display: none;
}
/* .search-bar::-webkit-search-cancel-button {
  position: relative;
  right: 10px;
} */
.suggestion li {
  display: block;
  margin-top: 25px;
  margin-right: 20px;
  color: white;
  font-size: 15px;
}
.search-div::after {
  content: "";
  border-bottom: 2px solid rgb(211, 211, 211);
  opacity: 0.7;
  width: 90%;
  position: absolute;
  bottom: -50px;
}
.weath-details {
  margin-left: 5vw;
  margin-top: 100px;
}
.weath-head {
  font-size: 20px;
  color: white;
}
.details {
  margin-top: 40px;
  color: white;
  font-size: 20px;
  width: 90%;
}
table {
  table-layout: fixed;
  color: rgba(232, 232, 232, 0.868);
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 20px;
}
thead td:nth-child(1) {
  width: 70%;
}

.info {
  margin-left: 10%;
  margin-top: 45vh;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.info > span {
  font-size: 100px;
  font-weight: 500;
  color: white;
  letter-spacing: 0.2rem;
}
.city-name {
  font-size: 60px;
  font-weight: 500;
  color: white;
  letter-spacing: 0.2rem;
}
#date {
  font-size: 20px;
  color: white;
  font-weight: lighter;

  letter-spacing: 0.1rem;
}
.weath-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.weath-icon span {
  font-size: 20px;
  color: white;
  text-align: center;
}
.logo {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin-left: 10%;
}
/*styling clock*/
.position {
  aspect-ratio: 1 / 1;
  position: absolute;
  inset: 0.1px;
  margin: auto;
}
.bigbox {
  position: fixed;
  width: 30%;
}
.clock-ctn {
  background: darkblue;
  width: 90%;
  border-radius: 50%;
  box-shadow: 0em 1em 6em 0em #000000a3;
}
.markers {
  width: 2%;
  aspect-ratio: 1 / 45;
  border-radius: 30%;
  background: #ffffff90;
}
.cardinal {
  background: #ff5733;
  width: 4%;
  aspect-ratio: 2 / 45;
}
#m-3-9 {
  transform: rotate(90deg);
}
#m-1-7 {
  transform: rotate(30deg);
}
#m-2-8 {
  transform: rotate(60deg);
}
#m-4-10 {
  transform: rotate(-30deg);
}
#m-5-11 {
  transform: rotate(-60deg);
}
.clock-face {
  background: darkblue;
  width: 75%;
  border-radius: 50%;
}
.clock-hand {
  border-radius: 2em;
  background: linear-gradient(#ff5733 50%, transparent 50%);
}
.hour {
  width: 3%;
  aspect-ratio: 1 / 25;
}
.minute {
  width: 2%;
  aspect-ratio: 1 / 45;
}
.second {
  width: 0.5%;
  aspect-ratio: 1 / 192;
  background: linear-gradient(red 50%, transparent 50%);
}
.dot {
  width: 7%;
  border-radius: 50%;
  background: #fff;
}
p {
  color: darkblue;
  font-size: 1rem;
  text-align: center;
  width: 70%;
  position: absolute;
  bottom: 11%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.ref {
  font-size: 0.7em;
  bottom: 4%;
  color: #ffffff89;
}
a {
  text-decoration: 0.1em darkblue underline;
  color: darkblue;
}
